@font-face {
    font-family: 'Motiva';
    src: url("fonts/MotivaSans-Regular.otf") format('truetype');
}

body {
    margin: 0;
    padding: 0;
}

.navegacion {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    background-color: #0E141B;
    color: #F3F3F3;
    font-size: 18px;
    font-family: 'Motiva';
    font-weight: 600;
    padding: 15px;
    letter-spacing: 1px;
}

#a_nav1 {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'Motiva';
    color: #F3F3F3;
    align-self: center;
}

.a_nav2 {
    text-decoration: none;
    font-family: 'Motiva';
    color: #F3F3F3;
}

.button_direccion {
    background: transparent;
    border: none;
    color: #76808C;
}

.button_direccion:hover {
    cursor: pointer;
}

.logo {
    height: 30px;
    filter: invert();
}

#flechas {
    filter: invert();
    height: 20px;
}

.navegacion2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    background-color: #212B45;
    color: #F3F3F3;
    font-size: 15px;
    font-family: 'Motiva';
    font-weight: lighter;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 40px;
}

.navegacion2 a {
    padding: 35px;
    padding-bottom: 15px;
    padding-top: 15px;
    border-radius: 3px;
}

#buscador {
    width: 270px;
    background-color: #16202b;
    padding: 10px;
    border: none;
    font-family: 'Motiva';
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 13px;
    border-radius: 3px;
}

#buscador::placeholder {
    color: #4B619B;
}

#buscador:focus {
    color: #F3F3F3;
    font-weight: lighter;
}

.navegacion2 a:hover {
    background-color: #76808C50;
}

#buscador:focus {
    outline: none;
    border-bottom: 3px solid #76808C50;
}

#iconos-nav1 {
    width: 20px;
    filter: invert;
}

#pagina-actual {
    background-color: #4B619B;
    padding: 35px;
    padding-bottom: 15px;
    padding-top: 15px;
    border-radius: 3px;
}

button {
    background: transparent;
    border: none;
    width: 50px;
    height: 25px;
    border-radius: 3px;
}

button:hover {
    cursor: pointer
}

#derecha-perfil {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 200px;
    max-height: 25px;
    font-weight: 400;
}

.dropdown {
    border-radius: 3px;
    display: inline-block;
    position: relative;
    background-color: #76808C50;
    color: #F3F3F3;
    font-size: 13px;
    padding: 5px;
    padding-left: 0;
    padding-right: 10px;
    width: 60px;
    height: 15px;
    text-align: center;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    width: auto;
    box-shadow: 0px 10px 10px 0px #00000066;
    background-color: #1E2329;
    text-align: start;
    height: auto;
    padding-top: 5px;
    font-weight: lighter;
    letter-spacing: 1px;
    transition: 0.1s;
    border-radius: 3px;
}

.dropdown.show .dropdown-content {
    display: flex;
    flex-direction: column;
    position: fixed;
    transition: 0.5s;
}

.dropdown-content a {
    font-size: 12px;
    height: 15px;
    padding: 5px;
    margin-right: 0px;
    color: #f3f3f3;
    text-decoration: none;
}

.dropdown-content a:hover {
    color: #f3f3f3;
    background-color: #212B45;
}

#flechita_dropdown {
    width: 15px;
    position: absolute;
    right: 5px;
    filter: invert();
    transition: transform 0.25s;
}