@font-face {
    font-family: 'Motiva';
    src: url("fonts/MotivaSans-Regular.otf") format('truetype');
}

body {
    margin: 0;
    padding: 0;
}

.navegacion {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    background-color: #0E141B;
    color: #F3F3F3;
    font-size: 18px;
    font-family: 'Motiva';
    font-weight: bold;
    padding: 15px;
}

#a_nav1 {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Motiva';
    color: #F3F3F3;
}

.a_nav2 {
    text-decoration: none;
    font-family: 'Motiva';
    color: #F3F3F3;
}

.button_direccion {
    background: transparent;
    border: none;
    color: #76808C;
}

.button_direccion:hover {
    cursor: pointer;
}

.logo {
    height: 30px;
    filter: invert();
}

#flechas {
    font-family: 'Motiva';
    font-size: 20px;
    font-weight: bolder;
}

.navegacion2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    background-color: #212B45;
    color: #F3F3F3;
    font-size: 15px;
    font-family: 'Motiva';
    font-weight: lighter;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 40px;
}

.navegacion2 a {
    padding: 35px;
    padding-bottom: 15px;
    padding-top: 15px;
    border-radius: 5px;
}

#buscador {
    width: 270px;
    background-color: #16202b;
    padding: 10px;
    border: none;
    font-family: 'Motiva';
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 13px
}

#buscador::placeholder {
    color: #4B619B;
}

.navegacion2 a:hover {
    background-color: #76808C50;
}

#buscador:focus {
    outline: none;
    border-bottom: 2px solid #76808C50;
}

#iconos-nav1 {
    width: 20px;
    filter: invert;
}

#button_amigos {
    background-color: #212B45;
    background: transparent;
    filter: brightness(100%);
}

button {
    background-color: #76808C50;
    border: none;
    width: 50px;
}