@font-face {
    font-family: 'Motiva';
    src: url("fonts/MotivaSans-Regular.otf") format('truetype');
}

body {
    margin: 0;
    padding: 0;
}

.navegacion {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    background-color: #0E141B;
    color: #F3F3F3;
    font-size: 18px;
    font-family: 'Motiva';
    font-weight: bold;
    padding: 15px;
}

#a_nav1 {
    text-transform: uppercase;
    font-family: 'Motiva';
}

.button_direccion {
    background: transparent;
    border: none;
    color: #76808C;
}

.button_direccion:hover {
    cursor: pointer;
}

.logo {
    height: 30px;
    filter: invert();
}

#flechas {
    font-family: 'Motiva';
    font-size: 20px;
    font-weight: bolder;
}

.navegacion2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    background-color: #212B45;
    color: #F3F3F3;
    font-size: 15px;
    font-family: 'Motiva';
    font-weight: lighter;
    padding: 15px;
}