:root {
    /* System greys */
    --gpSystemLightestGrey: #DCDEDF;
    --gpSystemLighterGrey: #B8BCBF;
    --gpSystemLightGrey: #8B929A;
    --gpSystemGrey: #67707B;
    --gpSystemDarkGrey: #3D4450;
    --gpSystemDarkerGrey: #23262E;
    --gpSystemDarkestGrey: #0E141B;
    /* Store blue greys */
    --gpStoreLightestGrey: #CCD8E3;
    --gpStoreLighterGrey: #A7BACC;
    --gpStoreLightGrey: #7C8EA3;
    --gpStoreGrey: #4e697d;
    --gpStoreDarkGrey: #2A475E;
    --gpStoreDarkerGrey: #1B2838;
    --gpStoreDarkestGrey: #000F18;
    /* Gradients */
    --gpGradient-StoreBackground: linear-gradient(180deg, var(--gpStoreDarkGrey) 0%, var(--gpStoreDarkerGrey) 80%);
    --gpGradient-LibraryBackground: radial-gradient(farthest-corner at 40px 40px, #3D4450 0%, #23262E 80%);
    /* Colours */
    --gpColor-Blue: #1A9FFF;
    --gpColor-BlueHi: #00BBFF;
    --gpColor-Green: #5ba32b;
    --gpColor-GreenHi: #59BF40;
    --gpColor-Orange: #E35E1C;
    --gpColor-Red: #D94126;
    --gpColor-RedHi: #EE563B;
    --gpColor-DustyBlue: #4B619B;
    --gpColor-LightBlue: #B3DFFF;
    --gpColor-Yellow: #FFC82C;
    --gpColor-ChalkyBlue: #66C0F4;
    /* Backgrounds */
    --gpBackground-LightSofter: #6998bb24;
    --gpBackground-LightSoft: #3b5a7280;
    --gpBackground-LightMedium: #678BA670;
    --gpBackground-LightHard: #93B8D480;
    --gpBackground-LightHarder: #aacce6a6;
    --gpBackground-DarkSofter: #0e141b33;
    --gpBackground-DarkSoft: #0e141b66;
    --gpBackground-DarkMedium: #0e141b99;
    --gpBackground-DarkHard: #0e141bcc;
    --gpBackground-Neutral-LightSofter: rgba(235, 246, 255, 0.10);
    --gpBackground-Neutral-LightSoft: rgba(235, 246, 255, 0.20);
    --gpBackground-Neutral-LightMedium: rgba(235, 246, 255, 0.30);
    --gpBackground-Neutral-LightHard: rgba(235, 246, 255, 0.40);
    --gpBackground-Neutral-LightHarder: rgba(235, 246, 255, 0.50);
}

@font-face {
    font-family: 'Motiva';
    src: url("fonts/MotivaSans-Regular.otf") format('truetype');
}

body {
    justify-content: center;
    margin: 0;
    padding: 0;
    font-family: 'Motiva';
    color: #F3F3F3;

}

#header {
    color: #F3F3F3;
    font-size: 18px;
    font-family: 'Motiva';
    font-weight: bold;

}

#div-header {
    display: block;
    justify-content: center;
    height: auto;
    width: auto;

}

#div-header img,
video {
    height: 68%;
    width: 100%;
    filter: drop-shadow(0px 10px 100px #000000);
}

.slider-container {
    position: relative;
    max-width: 80%;
    margin: auto;
    overflow: hidden;
    background-color: #0e141b71;
    border-radius: 10px;
}

.slider-container h2 {
    margin: 5px;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

.image-container {
    width: auto;
    height: auto;
}

.image-container img {
    width: 100%;
    border-radius: 2px;
}

.info-container {
    width: 40%;
    padding: 0px 50px;
}

.info-container h3 {
    margin-top: 0;
}
.info-container p{
    font-size: 15px;

}

.mini-images {
    display: grid;
    grid-template-columns: repeat(2, 0.3fr);
    gap: 10px;
}

.mini-images img {
    width: auto;
    height: 150px;
    border-radius: 2px;
}

.mini-images img:hover {
    scale: 1.1;
    border-radius: 3px;
}

.tags,
.price {
    margin-top: 10px;
    font-size: 20px;
    color: #f3f3f3;

}

.tags ul {
    list-style: none;
    display: flex;
    justify-content: flex-start;
}

.tags ul li {
    margin-right: 10px;
    padding: 10px;
    background: #1E2329;
    border-radius: 1px;
    font-size: 15px;
    color: #76808C;
}

.buy-button {
    margin-top: 15px;
    padding: 10px 15px;
    width: auto;
    height: auto;
    background: var(--gpColor-DustyBlue);
    color: #f3f3f3;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Motiva';
    font-size: 15px;
}

.user {
    display: flex;
    justify-content:end;
    align-items:baseline;
    margin-top: 10px;
}
.user div{
    margin-right: 20px;

} 

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.4s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    margin: auto;
    padding: 0;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;

}

.prev:hover,
.next:hover {
    scale: 1.5;
}
.slider-indicators {
    text-align: center;
    margin-top: 20px;
}

.slider-indicators span {
    display: inline-block;
    width: 30px;
    height: 10px;
    margin: 0 5px;
    background-color: #000000;
    border-radius: 5px;
    transition: 0.3s ease-in;
    cursor: pointer;
}

.slider-indicators .active {
    background-color: #4B619B;

}

.special-offers {
    padding: 5px;
    background-color: #0e141b71;
    width: 79.5%;
    margin: 30px auto;
    border-radius: 10px;

    
}

.offer-slider {
    display: grid;
    grid-template-columns: repeat(3, 330px);
    gap: 20px;
}

.offer-slide {
    flex: 0 0 auto;
    background-color: #0E141B;
    border-radius: 5px;
    overflow: hidden;
    scroll-snap-align: start;
}

.offer img {
    width: 330px;
    height: auto;
}

.special-offers h2 {
    margin-bottom: 20px;
}



.offer-info {
    padding: 10px;
    color: #fff;

}

.offer-info h3 {

    margin-top: 5px;
    font-size: 18px;
}

.offer-info p {
    margin: 5px 0;
    width: fit-content;
    color: #76808C;
}

.discount {
    color: #0E141B !important;
    background-color: #A1CD44;
    text-align: center;
    width: 60px;
    padding: 5px;
    border-radius: 3px;
    height: auto;
    font-size: 16px;
}

.price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.old-price {
    text-decoration: line-through #76808C;
    color: #313843;
}

.new-price {
    color: #A1CD44;
    font-size: 18px;
    padding-left: 10px;
}
