#overlay {
  z-index: 1050; 
  display: none;
}

body.dark-mode {
  background-color: #121212 !important;
  color: #ffffff;
}

body.dark-mode .bg-light {
  background-color: #121212 !important;
}

body.dark-mode .bg-dark {
  background-color: #000000 !important;
}

body.dark-mode .text-white {
  color: #ffffff !important;
}

body.dark-mode .btn-secondary {
  background-color: #333333;
  border-color: #333333;
}

body.dark-mode .btn-danger {
  background-color: #ff0000;
  border-color: #ff0000;
}

/* From Uiverse.io by ami-hp */ 
#dark-mode-btn * {
  transition: all 0.3s;
}

#dark-mode-btn input {
  width: 0;
  height: 0;
  visibility: hidden;
}

#dark-mode-btn label {
  border: 1px solid #efefef;
  background: rgba(0, 0, 0, 0.76);
  border-radius: 15px;
  height: 46px;
  width: 46px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

#dark-mode-btn label:active {
  border-radius: 5px;
}

#dark-mode-btn label svg {
  position: absolute;
  width: 19px;
  transition: 0.3s;
  z-index: 1;
  fill: #fff;
}

#dark-mode-btn label svg.sun {
  width: 20px;
  opacity: 0;
  fill: #000000;
}

#dark-mode-btn label svg.moon {
  opacity: 1;
}

#dark-mode-btn input:checked + label {
  background: #f4f74a;
}

#dark-mode-btn input:checked + label svg.sun {
  opacity: 1;
}

#dark-mode-btn input:checked + label svg.moon {
  opacity: 0;
}

#dark-mode-btn input:checked ~ span {
  background-color: #16174b;
}