<!-- home.component.html -->

<app-navbar></app-navbar>

<div id="sec0" class="section">
  <h1 class="title" data-lang="es">Hola, soy Yago 👋</h1>
  <h1 class="title" data-lang="en" style="display:none;">Hello, I'm Yago 👋</h1>
  <div class="content-container">
    <div>
      <p data-lang="es">Soy un estudiante de grado superior en desarrollo web con experiencia práctica en el desarrollo de aplicaciones web utilizando tecnologías como Angular y Node.js. Durante mis estudios, he trabajado con herramientas como PostgreSQL y MySQL. Aunque estoy en las etapas iniciales de mi carrera, me apasiona profundamente el desarrollo web y disfruto cada oportunidad para aprender y crecer en este campo.</p>
      <p data-lang="en" style="display:none;">I am a higher education student in web development with practical experience in developing web applications using technologies like Angular and Node.js. During my studies, I have worked with tools like PostgreSQL and MySQL. Although I am in the early stages of my career, I am deeply passionate about web development and enjoy every opportunity to learn and grow in this field.</p>
      <br>
      <div class="availability-container">
        <div class="availability-item">
          <img src="assets/location-icon.png" alt="Ubicación" class="location-icon">
          <span data-lang="es">Badajoz, España</span>
          <span data-lang="en" style="display:none;">Badajoz, Spain</span>
        </div>
        <div class="availability-item">
          <img src="assets/green-dot.gif" alt="Disponible" class="availability-gif">
          <span data-lang="es">Estudiante</span>
          <span data-lang="en" style="display:none;">Student</span>
        </div>
      </div>
    </div>
    <img src="assets/perfil.jpg" alt="Foto de perfil" id="profile">
  </div>
  <div class="social-icons">
    <a href="https://github.com/CatanduYago" target="_blank" rel="noopener noreferrer">
      <img src="assets/github.png" alt="GitHub" class="social-icon">
    </a>
    <a href="https://x.com/Ycatalanoa" target="_blank" rel="noopener noreferrer">
      <img src="assets/x.png" alt="Twitter" class="social-icon">
    </a>
    <a href="https://www.linkedin.com/in/yago-catalano-andújar-24216828a" target="_blank" rel="noopener noreferrer">
      <img src="assets/linkedin.png" alt="LinkedIn" class="social-icon">
    </a>
  </div>
</div>

<div id="sec1" class="section about-section">
  <div class="about-container">
    <img src="assets/About-me.jpeg" alt="Sobre mí" class="about-image">
    <div class="about-text">
      <h1 id="title-about" data-lang="es">Sobre mí</h1>
      <h1 id="title-about" data-lang="en" style="display:none;">About Me</h1>
      <p data-lang="es">Soy un desarrollador web apasionado con experiencia en diversas tecnologías. Me gusta enfrentar desafíos y mejorar mis habilidades día a día.</p>
      <p data-lang="en" style="display:none;">I am a passionate web developer with experience in various technologies. I enjoy facing challenges and improving my skills day by day.</p>
      <p data-lang="es">He trabajado en varios proyectos donde he podido desarrollar tanto habilidades técnicas como habilidades personales. Algunas de mis habilidades más destacadas son:</p>
      <p data-lang="en" style="display:none;">I have worked on several projects where I have been able to develop both technical and personal skills. Some of my most notable skills are:</p>
      <div class="skills-container">
        <div class="skills soft-skills">
          <h2 data-lang="es">Soft Skills</h2>
          <h2 data-lang="en" style="display:none;">Soft Skills</h2>
          <ul>
            <li data-lang="es">Trabajo en equipo</li>
            <li data-lang="en" style="display:none;">Teamwork</li>
            <li data-lang="es">Comunicación efectiva</li>
            <li data-lang="en" style="display:none;">Effective Communication</li>
            <li data-lang="es">Resolución de problemas</li>
            <li data-lang="en" style="display:none;">Problem Solving</li>
          </ul>
        </div>
        <div class="skills hard-skills">
          <h2 data-lang="es">Hard Skills</h2>
          <h2 data-lang="en" style="display:none;">Hard Skills</h2>
          <ul>
            <li data-lang="es">Angular</li>
            <li data-lang="en" style="display:none;">Angular</li>
            <li data-lang="es">PostgreSQL</li>
            <li data-lang="en" style="display:none;">PostgreSQL</li>
            <li data-lang="es">Git</li>
            <li data-lang="en" style="display:none;">Git</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="sec2" class="section">
  <h2 data-lang="es">Sección 3</h2>
  <h2 data-lang="en" style="display:none;">Section 3</h2>
  <p data-lang="es">Contenido para la sección 3.</p>
  <p data-lang="en" style="display:none;">Content for section 3.</p>
</div>

<div id="sec3" class="section">
  <h2 data-lang="es">Sección 4</h2>
  <h2 data-lang="en" style="display:none;">Section 4</h2>
  <p data-lang="es">Contenido para la sección 4.</p>
  <p data-lang="en" style="display:none;">Content for section 4.</p>
</div>
