<app-navbar></app-navbar>

<div id="sec0" class="section">
  <h1 class="title" data-lang="es">Hola, soy Yago 👋</h1>
  <h1 class="title" data-lang="en" style="display: none">Hi, I'm Yago! 👋</h1>
  <div class="content-container">
    <div>
      <p data-lang="es">
        Soy un estudiante de grado superior en desarrollo web con experiencia
        práctica en el desarrollo de aplicaciones web utilizando tecnologías
        como Angular y Node.js. Durante mis estudios, he trabajado con
        herramientas como PostgreSQL y MySQL. Aunque estoy en las etapas
        iniciales de mi carrera, me apasiona profundamente el desarrollo web y
        disfruto cada oportunidad para aprender y crecer en este campo.
      </p>
      <p data-lang="en" style="display: none">
        I am a higher education student in web development with practical
        experience in developing web applications using technologies like
        Angular and Node.js. During my studies, I have worked with tools like
        PostgreSQL and MySQL. Although I am in the early stages of my career, I
        am deeply passionate about web development and enjoy every opportunity
        to learn and grow in this field.
      </p>
      <br />
      <div class="availability-container">
        <div class="availability-item">
          <img src="assets/location-icon.png" alt="Ubicación" class="location-icon" />
          <span data-lang="es">Badajoz, España</span>
          <span data-lang="en" style="display: none">Badajoz, Spain</span>
        </div>
        <div class="availability-item">
          <img src="assets/green-dot.gif" alt="Disponible" class="availability-gif" />
          <span data-lang="es">Estudiante</span>
          <span data-lang="en" style="display: none">Student</span>
        </div>
      </div>
    </div>
    <img src="assets/perfil.jpg" alt="Foto de perfil" id="profile" />
  </div>
  <div class="social-icons">
    <a href="https://github.com/CatanduYago" target="_blank" rel="noopener noreferrer">
      <img src="assets/github.png" alt="GitHub" class="social-icon" />
    </a>
    <a href="https://x.com/Ycatalanoa" target="_blank" rel="noopener noreferrer">
      <img src="assets/x.png" alt="Twitter" class="social-icon" />
    </a>
    <a href="https://www.linkedin.com/in/yago-catalano-andújar-24216828a" target="_blank" rel="noopener noreferrer">
      <img src="assets/linkedin.png" alt="LinkedIn" class="social-icon" />
    </a>
  </div>
</div>

<div id="sec1" class="section about-section">
  <div class="about-container">
    <img src="assets/About-me.jpeg" alt="Sobre mí" class="about-image" />
    <div class="about-text">
      <h1 class="title-about" data-lang="es">Sobre mí</h1>
      <h1 class="title-about" data-lang="en" style="display: none">About Me</h1>
      <p data-lang="es">
        Soy un desarrollador web apasionado con experiencia en diversas
        tecnologías. Me gusta enfrentar desafíos y mejorar mis habilidades día a
        día.
      </p>
      <p data-lang="en" style="display: none">
        I am a passionate web developer with experience in various technologies.
        I enjoy facing challenges and improving my skills day by day.
      </p>
      <p data-lang="es">
        He trabajado en varios proyectos donde he podido desarrollar tanto
        habilidades técnicas como habilidades personales. Algunas de mis
        habilidades más destacadas son:
      </p>
      <p data-lang="en" style="display: none">
        I have worked on several projects where I have been able to develop both
        technical and personal skills. Some of my most notable skills are:
      </p>
      <div class="skills-container">
        <div class="skills soft-skills">
          <h2 data-lang="es">Soft Skills</h2>
          <h2 data-lang="en" style="display: none">Soft Skills</h2>
          <ul>
            <li data-lang="es">Trabajo en equipo</li>
            <li data-lang="en" style="display: none">Teamwork</li>
            <li data-lang="es">Comunicación efectiva</li>
            <li data-lang="en" style="display: none">
              Effective Communication
            </li>
            <li data-lang="es">Resolución de problemas</li>
            <li data-lang="en" style="display: none">Problem Solving</li>
          </ul>
        </div>
        <div class="skills hard-skills">
          <h2 data-lang="es">Hard Skills</h2>
          <h2 data-lang="en" style="display: none">Hard Skills</h2>
          <ul>
            <li data-lang="es">Angular</li>
            <li data-lang="en" style="display: none">Angular</li>
            <li data-lang="es">PostgreSQL</li>
            <li data-lang="en" style="display: none">PostgreSQL</li>
            <li data-lang="es">Git</li>
            <li data-lang="en" style="display: none">Git</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="sec6" class="section">
  <h1 class="title-skills" data-lang="es">Skills</h1>
  <h1 class="title-skills" data-lang="en" style="display: none">Skills</h1>
  <p data-lang="es">
    Estas son algunas de las habilidades que he adquirido durante mi curso:
  </p>
  <p data-lang="en" style="display: none">
    These are some of the skills I have acquired during my career:
  </p>
  <div class="skills-section">
    <div class="skill">
      <img src="assets/Angular.png" alt="Angular" class="skill-icon" />
      <p data-lang="es">Angular</p>
      <p data-lang="en" style="display: none">Angular</p>
    </div>
    <div class="skill">
      <img src="assets/oracle_database.png" alt="Oracle database" class="skill-icon" />
      <p data-lang="es">Oracle database</p>
      <p data-lang="en" style="display: none">Oracle database</p>
    </div>
    <div class="skill">
      <img src="assets/postgresql.png" alt="PostgreSQL" class="skill-icon" />
      <p data-lang="es">PostgreSQL</p>
      <p data-lang="en" style="display: none">PostgreSQL</p>
    </div>
    <div class="skill">
      <img src="assets/my_sql.png" alt="MySQL" class="skill-icon" />
      <p data-lang="es">MySQL</p>
      <p data-lang="en" style="display: none">MySQL</p>
    </div>
    <div class="skill">
      <img src="assets/hmtl5.png" alt="HTML" class="skill-icon" />
      <p data-lang="es">HTML</p>
      <p data-lang="en" style="display: none">HTML</p>
    </div>
    <div class="skill">
      <img src="assets/css.png" alt="CSS" class="skill-icon" />
      <p data-lang="es">CSS</p>
      <p data-lang="en" style="display: none">CSS</p>
    </div>
    <div class="skill">
      <img src="assets/php.png" alt="PHP" class="skill-icon" />
      <p data-lang="es">PHP</p>
      <p data-lang="en" style="display: none">PHP</p>
    </div>
    <div class="skill">
      <img src="assets/java.png" alt="Java" class="skill-icon" />
      <p data-lang="es">Java</p>
      <p data-lang="en" style="display: none">Java</p>
    </div>
    <div class="skill">
      <img src="assets/Java_script.png" alt="Java Script" class="skill-icon" />
      <p data-lang="es">Java Script</p>
      <p data-lang="en" style="display: none">Java Script</p>
    </div>
    <div class="skill">
      <img src="assets/Git.png" alt="Git" class="skill-icon" />
      <p data-lang="es">Git</p>
      <p data-lang="en" style="display: none">Git</p>
    </div>
    <div class="skill">
      <img src="assets/Figma.png" alt="Figma" class="skill-icon" />
      <p data-lang="es">Figma</p>
      <p data-lang="en" style="display: none">Figma</p>
    </div>
  </div>
</div>

<div id="sec5" class="section">
  <h1 class="title-experience" data-lang="es">Experiencia</h1>
  <h1 class="title-experience" data-lang="en" style="display: none">
    Experience
  </h1>

  <div class="experience-container">
    <p data-lang="es">Aquí hay un resumen de mis experiencias recientes:</p>
    <p data-lang="en" style="display: none">
      Here is a quick summary of my most recent experiences:
    </p>
    <div class="experience-item">
      <div class="experience-logo">
        <img src="assets/company1-logo.png" alt="Company 1 Logo" class="logo-image" />
      </div>
      <div class="experience-details">
        <div class="experience-period" data-lang="es">
          Enero 202X - Junio 202X
        </div>
        <div class="experience-period" data-lang="en" style="display: none">
          January 202X - June 202X
        </div>
        <p data-lang="es">Trabajé mucho en varias áreas:</p>
        <ul>
          <li>Hice ...</li>
          <li>Hice ...</li>
          <li>Hice ...</li>
        </ul>
        <p data-lang="en" style="display: none">Worked a lot</p>
        <ul>
          <li data-lang="en" style="display: none">I did ...</li>
          <li data-lang="en" style="display: none">I did ...</li>
          <li data-lang="en" style="display: none">I did ...</li>
        </ul>
      </div>
    </div>

    <!-- Añade más divs con experiencias aquí (me como los mocos no hago na)-->
  </div>
</div>
<div id="sec2" class="section">
  <h1 class="title-work" data-lang="es">Trabajo</h1>
  <h1 class="title-work" data-lang="en" style="display: none">Work</h1>
  <p data-lang="es">Algunos de los proyectos que he hecho:</p>
  <p data-lang="en" style="display: none">
    This are some of the projects I have built:
  </p>
  <div class="portfolio-container">
    <div class="portfolio-item">
      <div class="portfolio-details">
        <a href="https://github.com/CatanduYago/CatanduYago.github.io" target="_blank" class="portfolio-title"
          data-lang="es">CatanduYago.github.io</a>
        <a href="https://github.com/CatanduYago/CatanduYago.github.io" target="_blank" class="portfolio-title"
          data-lang="en" style="display: none">CatanduYago.github.io</a>
        <p data-lang="es">
          Repositorio de github pages en el que despliego la mayoría de mis
          proyectos
        </p>
        <p data-lang="en" style="display: none">
          Github pages repository where I deploy most of my projects
        </p>
      </div>
    </div>
    <div class="portfolio-item">
      <div class="portfolio-details">
        <a href="https://github.com/CatanduYago/Mazmorras-en-Java" target="_blank" class="portfolio-title"
          data-lang="es">Juego de mazmorras en Java</a>
        <a href="https://github.com/CatanduYago/Mazmorras-en-Java" target="_blank" class="portfolio-title"
          data-lang="en" style="display: none">Dungeon game in Java
        </a>
        <p data-lang="es">
          Juego de mazmorras programado en Java usando JavaFX. Proyecto fin de
          curso de programación
        </p>
        <p data-lang="en" style="display: none">
          Dungeon game programmed in Java using JavaFX. End-of-course
          programming project
        </p>
      </div>
    </div>
    <div class="portfolio-item">
      <div class="portfolio-details">
        <a href="https://github.com/CatanduYago/MazaoGym" target="_blank" class="portfolio-title"
          data-lang="es">MazaoGym</a>
        <a href="https://github.com/CatanduYago/MazaoGym" target="_blank" class="portfolio-title" data-lang="en"
          style="display: none">MazaoGym</a>
        <p data-lang="es">
          Proyecto de Gimnasio realizado para el final de una de las asignaturas
          de 1º de DAW
        </p>
        <p data-lang="en" style="display: none">
          Gym project completed for the end of one of the first-year DAW courses
        </p>
      </div>
    </div>
  </div>
</div>

<div id="sec3" class="section">
  <h1 data-lang="es" class="title-testimonials">Testimonios</h1>
  <h1 data-lang="en" class="title-testimonials" style="display: none">
    Testimonials
  </h1>
  <p data-lang="es">Opiniones que hablan bien de mí:</p>
  <p data-lang="en" style="display: none">Opinions that talk great about me:</p>
  <div class="testimonials">
    <div class="testimonials-item">
      <img src="assets/defpic.webp" alt="Default picture" class="def-prof-pic" />
      <div class="testimonials-details"></div>
      <p data-lang="es">
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas
        tincidunt risus a blandit tristique. Duis pretium eu libero ut lacinia.
        Phasellus eget rhoncus mi."
      </p>
      <p data-lang="en" style="display: none">
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas
        tincidunt risus a blandit tristique. Duis pretium eu libero ut lacinia.
        Phasellus eget rhoncus mi."
      </p>
      <p data-lang="es">Albert Einstein</p>
      <p data-lang="en" style="display: none">Albert Einstein</p>
      <p data-lang="es">BBC CEO</p>
      <p data-lang="en" style="display: none">BBC CEO</p>
    </div>
    <div class="testimonials-item">
      <img src="assets/defpic.webp" alt="Default picture" class="def-prof-pic" />
      <div class="testimonials-details"></div>
      <p data-lang="es">
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas
        tincidunt risus a blandit tristique. Duis pretium eu libero ut lacinia.
        Phasellus eget rhoncus mi."
      </p>
      <p data-lang="en" style="display: none">
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas
        tincidunt risus a blandit tristique. Duis pretium eu libero ut lacinia.
        Phasellus eget rhoncus mi."
      </p>
      <p data-lang="es">Albert Einstein</p>
      <p data-lang="en" style="display: none">Albert Einstein</p>
      <p data-lang="es">BBC CEO</p>
      <p data-lang="en" style="display: none">BBC CEO</p>
    </div>
    <div class="testimonials-item">
      <img src="assets/defpic.webp" alt="Default picture" class="def-prof-pic" />
      <div class="testimonials-details">
        <p data-lang="es">
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas
          tincidunt risus a blandit tristique. Duis pretium eu libero ut
          lacinia. Phasellus eget rhoncus mi."
        </p>
        <p data-lang="en" style="display: none">
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas
          tincidunt risus a blandit tristique. Duis pretium eu libero ut
          lacinia. Phasellus eget rhoncus mi."
        </p>
        <p data-lang="es">Albert Einstein</p>
        <p data-lang="en" style="display: none">Albert Einstein</p>
        <p data-lang="es">BBC CEO</p>
        <p data-lang="en" style="display: none">BBC CEO</p>
      </div>
    </div>
  </div>
</div>
<div id="sec4" class="section">
  <h1 data-lang="es" class="title-contact">Contáctame</h1>
  <h1 data-lang="en" class="title-contact" style="display: none">Contact</h1>
  <p data-lang="es">Si quieres hablar conmigo o seguirme aquí puedes:</p>
  <p data-lang="en" style="display: none">
    Here you can talk with me or follow me:
  </p>

  <!-- Correo centrado -->
  <div class="contact-email">
    <img src="assets/email.png" alt="Email icon" id="email-icon" />
    <span>ycatalanoa01&#64;gmail.com</span>
  </div>

  <!-- Logos de redes sociales -->
  <div class="social-links">
    <a href="https://github.com/catanduYago" target="_blank">
      <img src="assets/github.png" alt="GitHub icon" />
    </a>
    <a href="https://twitter.com/ycatalanoa" target="_blank">
      <img src="assets/x.png" alt="Twitter icon" />
    </a>
    <a href="https://instagram.com/yago_candujar" target="_blank">
      <img src="assets/instagram.png" alt="Instagram icon" />
    </a>
    <a href="https://www.linkedin.com/in/yago-catalano-and%C3%BAjar-24216828a/" target="_blank">
      <img src="assets/linkedin.png" alt="LinkedIn icon" />
    </a>
  </div>
</div>
<app-footer></app-footer>