<nav class="navbar">
  <div class="navbar-content">
    <img src="assets/Logo.png" alt="Logo" class="navbar-logo">
    <ul class="navbar-links">
      <li><a href="#sec1" data-lang="es">Sobre mí</a><a href="#sec1" data-lang="en" style="display:none;">About Me</a>
      </li>
      <li><a href="#sec2" data-lang="es">Trabajo</a><a href="#sec2" data-lang="en" style="display:none;">Work</a></li>
      <li><a href="#sec3" data-lang="es">Testimonios</a><a href="#sec3" data-lang="en"
          style="display:none;">Testimonials</a></li>
      <li><a href="#sec4" data-lang="es">Contacto</a><a href="#sec4" data-lang="en" style="display:none;">Contact</a>
      </li>
    </ul>
    <div class="vl"></div>
    <button class="language-switcher" (click)="toggleLanguage()">
      <img [src]="languageIcon" alt="Idioma" class="language-icon">
    </button>
    <a (click)="downloadFile()" class="navbar-download-btn" data-lang="es">Descargar CV</a>
    <a (click)="downloadFile()" class="navbar-download-btn" data-lang="en" style="display:none;">Download CV</a>
  </div>
</nav>
<nav class="navbar-mobile" style="display: none;">
  <!-- Logo -->
  <div class="navbar-logo">
    <img src="assets/Logo.png" alt="Logo">
  </div>

  <!-- Icono del menú para móviles -->
  <div class="menu-icon" (click)="toggleMenu()">
    <img src="/Portfolio/assets/menu.png" alt="Menu Icon">
  </div>

  <!-- Opciones del menú (ocultas en móvil, visibles en escritorio) -->
  <ul [ngClass]="{'menu-open': isMenuOpen, 'menu-closed': !isMenuOpen}">
    <li><a href="#sec0" (click)="toggleMenu()">Inicio</a></li>
    <li><a href="#sec1" (click)="toggleMenu()">Sobre mí</a></li>
    <li><a href="#sec2" (click)="toggleMenu()">Habilidades</a></li>
    <li><a href="#sec3" (click)="toggleMenu()">Experiencia</a></li>
    <li><a href="#sec4" (click)="toggleMenu()">Portafolio</a></li>
    <li><a href="#sec5" (click)="toggleMenu()">Contacto</a></li>
  </ul>
</nav>