<nav class="navbar">
    <div class="navbar-content">
      <img src="assets/Logo.png" alt="Logo" class="navbar-logo">
      <ul class="navbar-links">
        <li><a href="#sec1">Sobre mí</a></li>
        <li><a href="#sec2">Trabajos</a></li>
        <li><a href="#sec3">Testimonios</a></li>
        <li><a href="#sec4">Contacto</a></li>
      </ul>
      <div class="vl"></div>
      <button class="language-switcher" (click)="toggleLanguage()">
        <img [src]="languageIcon" alt="Idioma" class="language-icon">
      </button>
      <a (click)="downloadFile()" class="navbar-download-btn">Descargar CV</a>
  
    </div>
  </nav>